body {
    background-color: #f7f5e8;
    margin: 0;
    padding: 2rem;

}

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

.stars-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 800px;
    margin: 0 auto;
}

.star {
    position: absolute;
    width: 9%;
}

.star img {
    width: 100%;
    height: auto;
    display: inline-block;
    transition: transform 0.6s ease;
}

.star:hover img {
    transform: rotate(180deg);
}

.star a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.star span {
    position: absolute;
    color: #e6e6e6;
    font-size: 1.4vw;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

/* Tooltip positions */
#starpurple span {
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
}

#starpink span {
    top: 58%;
    left: 110%;
    transform: translateY(-50%);
}

#staryellow span {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#stargreen span {
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
}

#starblue span {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


.star:hover span {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 768px) {
    body {
        padding: 2rem;
    }

    .stars-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 700px;
    }

    .star {
        width: 14%;
        transform: translate(-13%, -10%);
    }

    .star span {
        font-size: 3vw;

    }

    /* Tooltip adjustments for smaller screens */
    #starpurple span {
        top: 60%;
        left: 100%;
        transform: translateY(-50%);
    }

    #starpink span {
        top: 60%;
        left: 100%;
        transform: translateY(-50%);
    }

    #staryellow span {
        top: 130%;
        left: 50%;
        transform: translateX(-50%);
    }

    #stargreen span {
        bottom: 130%;
        left: 50%;
        transform: translateX(-50%);
    }

    .star:hover span {
        font-size: 3.5vw;
        /* Scale down tooltip font size */
    }
}