body {
    background-color: #F7F5E8;
}
@font-face {
    font-family: comfortaa;
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}
#pisces {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    width: 80%;
    height: 90%;
    z-index: -1;
}
h1 {
    font-family: comfortaa;
    font-size: 50px;
    /* font-size: 3vw; */
    color: #000;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 8vh;
    left: 9vw;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
}
#logo {
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 96px;
    height: auto;
    transform: translate(0, 0);
    z-index: 2;,
}
#mousetrace {
    color: #000;
    z-index: 3;
}
